# string functions::
#### string= a string is sequences of character which are inserted in " quotes ".  strings are "immutable" which means they cannot be changed after they are created .
properties:we can't change or edit the string because they are immutable 
inside a string each character will have an index value.
#example:"abcd" it will have position  index value of  left to righ is (0 1 2)
from right to left (-1-2-3)
#### **syntax**=variable.function(" data")
types of string Functions 

1.capitalize( ) function

2.lower( ) function

3.title( ) function

4.casefold( ) function

5.upper( ) function

6.count( ) function

7.find( ) function

8.replace( ) function

9.swapcase( ) function

###10.join( ) function

## advance method :which used to replace multiple character in an sequence .
by using **assii key value** and **binary value**
variable.maketrans(" "," ")  gives us assii key value . the variable.translate(y)

In [1]:
alpha="the world of pollution as increased by 10% by each other and 55.7985 increase in oxygen AA,BB"

In [2]:
#string methods only applied on string

In [3]:
#lowercase
y=alpha.lower();print(y)
#uppercase
z=y.upper();print(z)

the world of pollution as increased by 10% by each other and 55.7985 increase in oxygen aa,bb
THE WORLD OF POLLUTION AS INCREASED BY 10% BY EACH OTHER AND 55.7985 INCREASE IN OXYGEN AA,BB

In [4]:
#swapcase 
k=alpha.swapcase();print(k)
l=k.swapcase();print(l)

THE WORLD OF POLLUTION AS INCREASED BY 10% BY EACH OTHER AND 55.7985 INCREASE IN OXYGEN aa,bb
the world of pollution as increased by 10% by each other and 55.7985 increase in oxygen AA,BB

In [5]:
#title=which converts every first letter in to captial of a word .
t=alpha.lower();print(t)
ti=t.title();print(ti)

the world of pollution as increased by 10% by each other and 55.7985 increase in oxygen aa,bb
The World Of Pollution As Increased By 10% By Each Other And 55.7985 Increase In Oxygen Aa,Bb

## In count if there is any variation in lower and upper case then count will not be accqurate ....

#count=finds number of repeated data
data="i am very angry at the moment and Angry is my enemy"
data.count("angry")

In [6]:
#capitalize=which converts one any only  first of whole data
alpha.capitalize()

'The world of pollution as increased by 10% by each other and 55.7985 increase in oxygen aa,bb'

In [7]:
alpha.replace("the","A")

'A world of pollution as increased by 10% by each oAr and 55.7985 increase in oxygen AA,BB'

In [8]:
#index:finding the number of our requried character 
alpha.index("i")

19

In [9]:
#index in a sequence ,start index and ending index ("charater",si,ei).
alpha.index("i",20) #if the follow character not avaliable in variable it shows as value error

26

In [10]:
#find ,find and index are same but if the value is not found the o/p will be given as -1
alpha.find("p",14)

-1

In [6]:
#split method:it is use to split the string in to sub strings and alos we can design according to spaces
#by giving the numeric value
alpha="the wolrd of pollution as increased by 10% by each other and 55.7985 increase in oxygen AA,BB"
alpha.split()

['the',
 'wolrd',
 'of',
 'pollution',
 'as',
 'increased',
 'by',
 '10%',
 'by',
 'each',
 'other',
 'and',
 '55.7985',
 'increase',
 'in',
 'oxygen',
 'AA,BB']

In [ ]:
#strip =it is used to remove first and last letter of data given in variable .vari.rstrip=reads from right to left,,vari.istrip=reads from right to left
#first and last variable should be same 
alpha.rstrip("")

In [ ]:
w="@aggasdfljhf@"
print(len(w))
q=w.strip("@")
print(len(q))
q.count("g")
print(q)
p=w.rstrip("@")
print(p)
l=w.lstrip("@")
print(l)

In [ ]:
w="kaggasdfljhk"
print(len(w))
u=w.strip("k")
print(u)
print(len(u))
print(w.rstrip("k"))
print(w.lstrip("k"))

In [ ]:
#replace = it will replace the only patrticular word with other .
w.replace("k","alpha")

In [ ]:
#FIND=it is same as index value but .but when character value is not found i gives -1 value 
finda="abcdefghtaaslkjdasd"
print(finda.find("a",1))
finda[1:5]

In [ ]:
alpha="the wolrd of pollution as increased by 10% by each other and 55.7985 increase in oxygen AA,BB"
alpha.partition("pollution")

In [ ]:
#ADVANCED METHOD=MAKETRANS,AScii,BIN,.TRANSLATE
#ASCII stands for American Standard Code for Information Interchange. 
#It is a character encoding standard that uses numbers from 0 to 127 to represent English characters
#For example, ASCII code for the character A is 65, and 90 is for Z.
#The bin() method converts a specified integer number to its binary representation and returns it.
#variable to asciikey to binary number then to machine .
h="abcdefghijklmnopa"
f=h.maketrans("abc","157")
print(h.maketrans("abc","157"))
h.translate(f)

In [ ]:
alpha="the world of pollution as increased by 10% by each other and 55.7985 increase in oxygen AA,BB"
l=alpha.maketrans("world","WORLD");print(l)
i=alpha.translate(l)
print(i)
alpha.replace("world","heaven")

In [ ]:
beta="we maid me tougest all these years i am stronger now"
g=beta.maketrans("maid","MAID");print(g)
f=beta.translate(g);print(f)
m=f.lower()
print(m)
m.strip("w")
m.lstrip("w")
beta.capitalize()
beta.title()
beta.split(" ",3)

In [ ]:
#FORMAT METHOD :IS USED TO PRINT THE DATA IN SEQUENCE SYNTAX:X.FORMAT(a,b,c,d)

In [ ]:
player_name="sky"
player_age=23
player_weight=55
player_gender="male"
player_team="india"
player_heigh=156.75
player_data="player name={},player age={},player weight={},player gender={},player team={},player height={}"
player_data.format(player_name,player_age,player_weight,player_gender,player_team,player_heigh)

In [ ]:
#input function
player_name=input("player_name=")
player_age=int(input("player_age="))
player_weight=int(input("player_weight="))
player_gender=input("player_gender=")
player_team=input("player_team=")
player_heigh=float(input("player_heigh="))
player_data="player_name={},player_age={},player_weight={},player_gender={},player_team={},player_height={}"
player_data.format(player_name,player_age,player_weight,player_gender,player_team,player_heigh)

In [ ]:
x=6
y=7
x<y and x==y

In [ ]:
x>y or x!=y

In [ ]:
not(x>y or x!=y)

In [ ]:
raghu="aABCDGJaHJA"
raghu.count("a",2)

In [ ]:
raghu.index("A",8)

In [ ]:
#Write a program to create a new string made of an input string’s first, middle, and last character.
#Given:str1 = "James"
#o/p=Jms
given_name=input("enter the name")
given_name[0]+given_name[len(given_name)//2-1]+given_name[-1]

In [ ]:
#Write a program to create a new string made of the middle three characters of an input string.
# Given:str1 = "JhonDipPeta",str2 = "JaSonAy" 

the_name=input("enter the name=")
the_name[len(the_name)//2-1]+the_name[len(the_name)//2]+the_name[len(the_name)//2+1]

In [ ]:
#Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.
s1 = "Ault"
s2 = "Kelly"
s1[0]+s1[len(s1)//2-1]+s2+s1[len(s1)//2]+s1[-1]

In [27]:
#Arrange string characters such that lowercase letters should come first
#Given string contains a combination of the lower and upper case letters. 
#Write a program to arrange the characters of a string so that all lowercase letters should come first.
#Given:
str1 ="PyNaTive"
#str1[len(str1)//2-3]+str1[len(str1)//2-1]+str1[-3:]+str1[0]+str1[2]+str1[len(str1)//2]
upper=[]
lower=[]
for r in str1:
    if r.isupper():
          upper.append(r)
    else:
        lower.append(r)
print("".join(lower+upper))

yaivePNT

In [14]:
stri="PyNaTive"
up=[]
lo=[]
for i in stri:
        if i.islower():
             lo.append(i)
        else:
            up.append(i)
print("".join(up+lo))

PNTyaive

In [ ]:
#Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.
#s1 = "America"
#s2 = "Japan"
s1=input("first_word")
s2=input("second_word")
s1[0]+s2[0]+s1[len(s1)//2-1]+s2[len(s1)//2-1]+s1[-1]+s2[-1]

In [19]:
beta="ab56jsdfh65cd123456"
alpha=[]
digi=[]
for p in beta:
    if p.isalpha():
        alpha.append(p)
    else:
        digi.append(p)
        
print("".join(alpha+digi))

abjsdfhcd5665123456

In [31]:
water="zxaddcsAJLKDHSKFGKHJDFG"
lower=[]
upper=[]
for m in water:
    if m.isupper():
        upper.append(m)
    else:
        lower.append(m)
print("".join(upper+lower))

AJLKDHSKFGKHJDFGzxaddcs

In [3]:
gamma="amercia5356japan7799055398@#$%"
alpha=[]
beta=[]
special=[]
for l in gamma:
    if l.isalpha():
        alpha.append(l)
    elif l.isdigit():
           beta.append(l)
    else:
        special.append(l)
            
print("".join(special+alpha))

@#$%amerciajapan